page-register-customer-form {
    /*.flex {
        align-items: center;
        height: 100%;
    }

    form {
        margin-bottom: 50px;
    }*/

    ion-textarea.map {
        border: 1px solid #ddd;
        border-radius: 4px;
        background: white;
        color: #939393;
        padding-left: 0.9em!important;
        padding-right: 0.9em!important;
        height: 85px;
        width: 100%;
    }
}
