page-personal-bank {

    ion-list:first-child {
        margin-top: 45px;
    }

    div.profile-content {
        padding: 5px 17px 5px 21px;
    }

    div.button-wrapper {
        margin-top: 30px;
        text-align: center;

        button {
            padding: 0px 50px;
        }
    }
}