page-register-home {

    form {

        margin-top: 90px!important;

        margin-bottom: 50px;

        button.verify-btn {
            margin-left: 5px!important;
            width: 80px;
        }

        ion-input {
            font-size: 11px!important;
        }
    }
}
