page-login {
    .logo {
        margin: 35px 0px;
        img {
            width: 150px;
        }
    }

    .btn-login {
        padding-left: 40px;
        padding-right: 40px;
        margin: 0;
    }

    a.btn {
        height: auto;
        margin: 0;
        line-height: 20px;
        text-decoration: none;
        font-size: 14px;

        &:first-child {
            padding-bottom: 5px;
        }
    }

}
