page-search-facgory {

    div.form-group {
        margin: 10px 17px;
        background-color: #f7f7f7;

        div.title {
            color: #7a7a7a;
            margin-bottom: 15px;
        }

        div.location {

            label {
                color: white;
                background-color: #316d72;
                padding: 5px 15px;
                border-radius: 2px;
                font-weight: bold;
            }
        }

        div.history {
            margin-top: 5px;
            label {
                color: #316d72;
                background-color: white;
                border: 1px solid #316d72;
                padding: 5px 15px;
                border-radius: 2px;
                font-weight: bold;
                margin: 3px 6px;
                display: inline-block;
            }
        }

    }

    div.form-group:first-child {
        margin-top: 20px;
    }

    div.form-group:not(:first-child) {
        padding: 20px;
        margin-top: 20px;
        min-height: 150px;
    }

    div.search-form {

        ion-col {
            padding-top: 0px!important;
            padding-bottom: 0px!important;
        }

        ion-searchbar {
            background-color: #f7f7f7 !important;
            border-bottom: none;
        }

        button.search-btn {
            height: 30px;
            margin-top: 8px !important;
            width: 90%;
            font-size: 12px!important;
        }

        ion-col[col-2] {
            padding-left: 0px !important;
        }
    }
}