page-pending-management-tab {
    ion-tabs {
        div.tabbar {
            padding: 6px 0px;

            border-bottom: 0px !important;
            background: none !important;

            span.tab-button-text {
                font-size: 13px !important;
            }
        }
    }
}

