ion-icon.tab-button-icon.ion-ios-confirm-icon {
  background-size: 35px 35px;
  background-image: url("../assets/icon/confirm-active.png");
}
ion-icon.tab-button-icon.ion-ios-confirm-icon-outline {
  background-size: 35px 35px;
  background-image: url("../assets/icon/confirm.png");
}


ion-icon.tab-button-icon.ion-ios-pay-icon {
  background-size: 35px 35px;
  background-image: url("../assets/icon/pay-active.png");
}
ion-icon.tab-button-icon.ion-ios-pay-icon-outline {
  background-size: 35px 35px;
  background-image: url("../assets/icon/pay.png");
}


ion-icon.tab-button-icon.ion-ios-pending-icon {
  background-size: 35px 35px;
  background-image: url("../assets/icon/tab-pending-active.png");
}
ion-icon.tab-button-icon.ion-ios-pending-icon-outline {
  background-size: 35px 35px;
  background-image: url("../assets/icon/tab-pending.png");
}


ion-icon.tab-button-icon.ion-ios-complete-icon {
  background-size: 35px 35px;
  background-image: url("../assets/icon/tab-complete-active.png");
}
ion-icon.tab-button-icon.ion-ios-complete-icon-outline {
  background-size: 35px 35px;
  background-image: url("../assets/icon/tab-complete.png");
}


ion-icon.tab-button-icon.ion-ios-arrow-user-icon {
  background-size: 35px 35px;
  background-image: url("../assets/icon/arrow-user-active.png");
}
ion-icon.tab-button-icon.ion-ios-arrow-user-icon-outline {
  background-size: 35px 35px;
  background-image: url("../assets/icon/arrow-user.png");
}


ion-icon.tab-button-icon.ion-ios-car-icon {
  background-size: 35px 35px;
  background-image: url("../assets/icon/car-active.png");
}
ion-icon.tab-button-icon.ion-ios-car-icon-outline {
  background-size: 35px 35px;
  background-image: url("../assets/icon/car.png");
}


ion-icon.tab-button-icon.ion-ios-pen-icon {
  background-size: 35px 35px;
  background-image: url("../assets/icon/pen-active.png");
}
ion-icon.tab-button-icon.ion-ios-pen-icon-outline {
  background-size: 35px 35px;
  background-image: url("../assets/icon/pen.png");
}

ion-icon.tab-button-icon.ion-ios-up-icon {
  background-size: 35px 35px;
  background-image: url("../assets/icon/up-active.png");
}
ion-icon.tab-button-icon.ion-ios-up-icon-outline {
  background-size: 35px 35px;
  background-image: url("../assets/icon/up.png");
}


ion-icon.tab-button-icon.ion-ios-down-icon {
  background-size: 35px 35px;
  background-image: url("../assets/icon/down-active.png");
}
ion-icon.tab-button-icon.ion-ios-down-icon-outline {
  background-size: 35px 35px;
  background-image: url("../assets/icon/down.png");
}