.custom-icon:before {
    display: inline-block;
    content: '';
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
}

.custom-icon-note:before {
    background-image: url("../assets/icon/note.png");
}

.custom-icon-user-group:before {
    background-image: url("../assets/icon/user-group.png");
}

.custom-icon-plus:before {
    background-image: url("../assets/icon/btn-plus.png");
}

.custom-icon-truck:before {
    background-image: url("../assets/icon/truck.png");
}

.custom-icon-handle:before {
    background-image: url("../assets/icon/handle.png");
}

.custom-icon-package:before {
    background-image: url("../assets/icon/package.png");
}

.custom-icon-bag:before {
    background-image: url("../assets/icon/bag.png");
}

.custom-icon-balance:before {
    background-image: url("../assets/icon/balance.png");
}

.custom-icon-spanner:before {
    background-image: url("../assets/icon/spanner.png");
}

.custom-icon-praise:before {
    background-image: url("../assets/icon/praise.png");
}

.custom-icon-complaint:before {
    background-image: url("../assets/icon/complaint.png");
}

.custom-icon-order-match:before {
    background-image: url("../assets/icon/order-match.png");
}

.custom-icon-system-info:before {
    background-image: url("../assets/icon/system-info.png");
}

.custom-icon-coupon:before {
    background-image: url("../assets/icon/coupon.png");
}

.custom-icon-fund:before {
    background-image: url("../assets/icon/fund.png");
}

.custom-icon-setting:before {
    background-image: url("../assets/icon/setting.png");
}

.custom-icon-aboutus:before {
    background-image: url("../assets/icon/aboutus.png");
}

.custom-icon-version:before {
    background-image: url("../assets/icon/version.png");
}

.custom-icon-balance1:before {
    background-image: url("../assets/icon/balance1.png");
}

.custom-icon-balance2:before {
    background-image: url("../assets/icon/balance2.png");
}

.custom-icon-total-cach:before {
    background-image: url("../assets/icon/total-cash.png");
}

.custom-icon-working-state:before {
    background-image: url("../assets/icon/working-state.png");
}

.custom-icon-beep-tone:before {
    background-image: url("../assets/icon/beep-tone.png");
}

.custom-icon-volume:before {
    background-image: url("../assets/icon/volume.png");
}

.custom-icon-select-tone:before {
    background-image: url("../assets/icon/select-tone.png");
}

.custom-icon-key:before {
    background-image: url("../assets/icon/key.png");
}

.custom-icon-key1:before {
    background-image: url("../assets/icon/key1.png");
}

.custom-icon-setting-passwd:before {
    background-image: url("../assets/icon/setting-passwd.png");
}

.custom-icon-avatar:before {
    background-image: url("../assets/icon/avatar.png");
}

.custom-icon-nickname:before {
    background-image: url("../assets/icon/nickname.png");
}

.custom-icon-card:before {
    background-image: url("../assets/icon/card.png");
}


.custom-icon-profile:before {
    background-image: url("../assets/icon/profile.png");
}

.custom-icon-name:before {
    background-image: url("../assets/icon/name.png");
}

.custom-icon-card-number:before {
    background-image: url("../assets/icon/card-number.png");
}

.custom-icon-affiliate-bank:before {
    background-image: url("../assets/icon/affiliate-bank.png");
}

.custom-icon-bank-name:before {
    background-image: url("../assets/icon/bank-name.png");
}


.custom-icon-area:before {
    background-image: url("../assets/icon/area.png");
}

.custom-icon-margin:before {
    background-image: url("../assets/icon/margin.png");
}

.custom-icon-amount-moeny:before {
    background-image: url("../assets/icon/amount-money.png");
}

.custom-icon-payment:before {
    background-image: url("../assets/icon/payment.png");
}

.custom-icon-alipay:before {
    background-image: url("../assets/icon/alipay.png");
}

.custom-icon-micro-letter:before {
    background-image: url("../assets/icon/micro-letter.png");
}

.custom-icon-user:before {
    background-image: url('../assets/icon/user.png');
}

.custom-icon-message:before {
    background-image: url('../assets/icon/message.png');
}

.custom-icon-fund1:before {
    background-image: url('../assets/icon/fund1.png');
}

.custom-icon-evaluation:before {
    background-image: url('../assets/icon/evaluation.png');
}

.custom-icon-evaluation1:before {
    background-image: url('../assets/icon/evaluation1.png');
}

.custom-icon-data-statistics:before {
    background-image: url('../assets/icon/data-statistics.png');
}

.custom-icon-recruitment:before {
    background-image: url('../assets/icon/recruitment.png');
}

.custom-icon-pending:before {
    background-image: url('../assets/icon/pending.png');
}

.custom-icon-server-pending:before {
    background-image: url('../assets/icon/server-pending.png');
}

.custom-icon-complete:before {
    background-image: url('../assets/icon/complete.png');
}

.custom-icon-my-order:before {
    background-image: url('../assets/icon/my-order.png');
}

.custom-icon-my-asset:before {
    background-image: url('../assets/icon/my-asset.png');
}

.custom-icon-my-coupon:before {
    background-image: url('../assets/icon/my-coupon.png');
}

.custom-icon-personal-bank:before {
    background-image: url('../assets/icon/personal-bank.png');
}

.custom-icon-company-bank:before {
    background-image: url('../assets/icon/company-bank.png');
}


.custom-icon-company-name:before {
    background-image: url('../assets/icon/company-name.png');
}

.custom-icon-submit-order:before {
    background-image: url('../assets/icon/submit-order.png');
}


.custom-icon-delivery-request:before {
    background-image: url('../assets/icon/delivery-request.png');
}

.custom-icon-mortar:before {
    background-image: url('../assets/icon/mortar.png');
}

.custom-icon-data:before {
    background-image: url('../assets/icon/data.png');
}

.custom-icon-advertise:before {
    background-image: url('../assets/icon/advertise.png');
}

.custom-icon-posted-demand:before {
    background-image: url('../assets/icon/posted-demand.png');
}

.custom-icon-date-time:before {
    background-image: url('../assets/icon/date-time.png');
}

.custom-icon-qrcode-scan:before {
    background-image: url('../assets/icon/qrcode-scan.png');
}

.custom-icon-qrcode:before {
    background-image: url('../assets/icon/qrcode.png');
}

.custom-icon-coupon-download:before {
    background-image: url('../assets/icon/coupon-download.png');
}

.custom-icon-coupon-use:before {
    background-image: url('../assets/icon/coupon-use.png');
}

.custom-icon-coupon-amount:before {
    background-image: url('../assets/icon/coupon-amount.png');
}

.custom-icon-coupon-condition:before {
    background-image: url('../assets/icon/coupon-condition.png');
}

.custom-icon-online:before {
    background-image: url('../assets/icon/online.png');
}

.custom-icon-online1:before {
    background-image: url('../assets/icon/online1.png');
}

.custom-icon-bank:before {
    background-image: url('../assets/icon/bank.png');
}

.custom-icon-offline:before {
    background-image: url('../assets/icon/offline.png');
}

.custom-icon-yen:before {
    background-image: url('../assets/icon/yen.png');
}

.custom-icon-bank-account:before {
    background-image: url('../assets/icon/bank-account.png');
}

.custom-icon-black-card:before {
    background-image: url('../assets/icon/black-card.png');
}

.custom-icon-black-user:before {
    background-image: url('../assets/icon/black-user.png');
}

.custom-icon-black-bank:before {
    background-image: url('../assets/icon/black-bank.png');
}


.custom-icon-black-yen:before {
    background-image: url('../assets/icon/black-yen.png');
}

.custom-icon-black-date:before {
    background-image: url('../assets/icon/black-date.png');
}

.custom-icon-business-status:before {
    background-image: url('../assets/icon/business-status.png');
}


.custom-icon-msg-push:before {
    background-image: url('../assets/icon/msg-push.png');
}

.custom-icon-order-notice:before {
    background-image: url('../assets/icon/order-notice.png');
}

.custom-icon-image-upload:before {
    background-image: url('../assets/icon/image-upload.png');
}







