page-message-home {
    div.center {
        text-align: center;
    }

    ion-list.icon-list.grey ion-item:first-child {
        margin-top: 70px;
    }

    ion-list.icon-list.grey ion-item {
        padding-left: 40px;
    }

}