page-qrcode-modal {
    .qrmodal-content {
        padding: 30px;
        background: rgba(0, 0, 0, 0.5);
        div.wrapper {
            width: 150px;
            background-color: white;
            margin: auto;
            margin-top: 150px;

        }
    }
}