page-select-track {

    .custom-card {

        button.button-call {

            padding-left: 2px !important;
            padding-right: 2px !important;

            img {
                width: 30px;
            }

        }
    }

}