page-personal-center-home {

    .custom-icon:before {
        display: inline-block;
        content: '';
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
    }

    .personal-logo-header {
        text-align: center;
        color: #316d72;
        background-color: #f7f7f7;
        padding-bottom: 30px;
        .person-logo {
            text-align: center;
            padding-top: 35px;
            margin-bottom: 15px;
            img {
                width: 150px;
                height: 150px;
                border-radius: 20px !important;
            }

        }

        h2 {
            font-size: 1.3em;
            margin-top: 0;
        }
    }

    ion-list:nth-child(2) {
        margin-top: 45px;
    }
    
    .button_wrapper {
        text-align: center;
        
        button {
            width: 150px;
            text-align: center;
            display: block;
            margin: auto;
            
            &:last-child {
                margin-top: 15px;
            }
            
        }
    }

}