page-forgot-password {
    form {

        margin-top: 60px!important;

        margin-bottom: 50px;

        button.verify-btn {
            margin-left: 5px!important;
            width: 80px;
        }

        ion-input {
            font-size: 11px!important;

            &.unConfirmed {
                border-color: #ff6e0d;
            }
        }
    }
}
