<ion-header>
    <ion-toolbar>

        <ion-buttons start>
            <button class="back-button" (click)="goBack()">
                <ion-icon></ion-icon>
            </button>
        </ion-buttons>

        <ion-title>
            订单管理
        </ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="goToHomePage()">
                <ion-icon class="my-shop"></ion-icon>
            </button>
        </ion-buttons>

    </ion-toolbar>

</ion-header>

<ion-content>
    <div class="custom-card" *ngFor="let mOrder of orders; let i = index" >
        <div *ngIf="mOrder.status != 6 || mOrder.sub_status != 1">
            <div class="card-header">
                <label>订单号：</label>
                <label>{{mOrder.order_no}}</label>
                <label style="float: right; padding-right: 15px">{{mOrder.order_date}}</label>
                <div style="clear: both;"></div>
            </div>
            <div class="card-content">
                <ion-grid>
                    <ion-row *ngIf="mOrder.order_kind != 'BR'">

                        <ion-col col-3><label>合同标号：</label></ion-col>
                        <ion-col col-9><label>{{mOrder.contract_no}}</label></ion-col>

                    </ion-row>
                    <ion-row>
                        <ion-col col-3><label>产品名称：</label></ion-col>

                        <ion-col col-9><label>{{mOrder.order_kind == 'MM' ? '混凝土' : (mOrder.order_kind == 'BI' ? '电子秤订单' : '电子秤维修订单')}}</label></ion-col>

                    </ion-row>
                    <ion-row>

                        <ion-col col-3><label>备注：</label></ion-col>
                        <ion-col col-9><label>{{mOrder.note}}</label></ion-col>

                    </ion-row>

                    <ion-row ion-item [ngClass]="{confirming: mOrder.status != 6, confirmed: mOrder.status == 6}">

                        <label *ngIf="mOrder.status == 5 && mOrder.sub_status == 0">状态：未支付</label>
                        <label *ngIf="mOrder.status == 5 && mOrder.sub_status == 1">状态：已支付</label>
                        <label *ngIf="mOrder.status == 6">状态：已支付，已完成</label>
                        <button ion-button color="danger" item-end *ngIf="mOrder.status == 5 && mOrder.order_kind =='BR'" (click)="goToFeedBackPage(i)">评价</button>
                        <button ion-button color="danger" item-end *ngIf="mOrder.status == 5 && mOrder.sub_status == 0 &&  mOrder.order_kind !='BR'" (click)="pay(i)">支付</button>
                        <button ion-button color="danger" item-end (click)="showOrder(mOrder)">查看</button>

                    </ion-row>

                </ion-grid>
            </div>
        </div>
    </div>

    <div class="empty-screen" *ngIf="orders.length == 0">
        <h3>{{result}}</h3>
    </div>

</ion-content>

